:root{
  --bg:#f3f6f5;
  --card-bg:#ffffff;
  --text:#0b1220;
  --muted:#515866;
  --primary:#0a57b3;
  --primary-dark:#0a4993;
  --ring:#bcd5ff;
  --radius:14px;
  --shadow:0 5px 10px rgba(48, 52, 60, 0.266);
  --font: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}



.page{
  min-height:100%;
  display:grid;
  place-items:center;
  padding:24px;
}

.card{
  width:30%;
  max-width:720px;           /* matches the wide look in the screenshot */
  background:var(--card-bg);
  border-radius:var(--radius);
  box-shadow:var(--shadow);
  padding:40px 48px 36px;
}

.title{
  margin:0 0 8px 0;
  font-size:1.8em;
  font-weight:700;
  text-align:center;
  letter-spacing:0.2px;
}

.subtitle{
  margin:0 0 8px 0;
  font-size:18px;
  text-align:center;
  color:var(--muted);
}

.form{
  max-width:600px;
  margin:0 auto;
}

.field{
  display:block;
  margin-bottom:10px;
}

.label{
  display:block;
  font-size:18px;
  margin-bottom:8px;
}

.input{
  width:100%;
  height:35px;
  padding:1px 14px;
  border:1px solid #e2e6ee;
  border-radius:10px;
  background:#fff;
  font-size:15px;
  outline:none;
}

.input:focus{
  border: 3px solid black;
}

.btn{
  width:100%;
  height:35px;
  border:none;
  border-radius:10px;
  background:linear-gradient(#0b5fc8, #0a57b3);
  color:#fff;
  font-weight:600;
  font-size:16px;
  cursor:pointer;
  margin-top:8px;
  
}

.btnR{
  width:100%;
  height:35px;
  border:none;
  border-radius:10px;
  background:linear-gradient(#0bc821, #0ab30d);
  color:#fff;
  font-weight:600;
  font-size:16px;
  cursor:pointer;
  margin-top:8px;
  
}





.meta{
  margin-top:18px;
  text-align:center;
  color:var(--muted);
  font-size:16px;
}

.link{
  color:#1667d6;
  text-decoration:none;
}


/* Responsive tweaks */
@media (max-width:640px){
  .card{ padding:28px 20px; }
  .title{ font-size:28px; }
  .subtitle{ font-size:16px; }
}
